
.container{
    margin-left: 250px;
    margin-right:324px;
    margin-top: 35px;
    margin-bottom: 25px;
    
   
}

.row{
    display: flex;
     
    gap:70px;;
    align-items: center;
   background-color: aqua;
}